<!doctype html>
<html>

<head>
    <title>Jo's Website</title>
    <link rel="stylesheet" type="text/css" href="../css/cssStyling.css">
    <script src="../js/index.js"></script>
</head>

<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="topNavFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

<h1>Jo's Website</h1>

<div class="column">
    <div class="card">
        <img class="center" src="../Images/joImage.jpg" alt="Jo" style="height: auto;width: 90%;align-content: center;padding: 2%;">
        <div class="container">
            <h2>Jo Tucker</h2>
            <p class="title">Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button" onclick="sendEmail()">Contact</button></p>
        </div>
    </div>
</div>
</html>