<!doctype html>
<html>
    <head>
        <title>Jo's Website</title>
        <link rel="stylesheet" type="text/css" href="../css/cssStyling.css">
    </head>
    <div class="topnav" id="myTopnav">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        <a href="javascript:void(0);" class="icon" onclick="topNavFunction()">
        </a>
      </div>
    <h1>Jo's Website</h1>
    <body>
        <img style="height: 30rem;width: auto;" src="../Images/millionaireShortbread.jpg" alt="Millionaire Shortbread" >
    </body>
</html>