<!DOCTYPE html>
    <html lang="en">
    <head>
        <script type="text/javascript" src="../carva_assets/jquery/jquery-3.3.1.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../carva_assets/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../carva_assets/datatables/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="../carva_assets/css/index.css"/>

        <script type="text/javascript" src="../carva_assets/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../carva_assets/datatables/datatables.min.js"></script>
        <script type="text/javascript" src="../carva_assets/js/download.js"></script>
        <script type="text/javascript" src="../carva_assets/js/index.js"></script>

        <title>CaRVa</title>
    </head>
    <body class="padded">
    <img class="top-vertical-align wl-width" src="../carva_assets/images/WL.png" alt="WonderLane">
    <h1>CaRVa</h1>
    <h3>(Ca)pture (R)eplay (Va)lidate</h3>
    <div>
        <form id="managementForm" action="/" method="post" role="form">
            <div class="form-group">
                <div class="w-100 align-top mt-4">
                    <hr>
                    <h5 class="mb-3">Replay or Update existing packs</h5>

                    <div class="d-inline-block">
                        <div class="d-block align-top">
                            {{ $packName := .PackName}}
                            <select id="packname" class="form-control d-inline-block width-auto" style="width:15em;" name="existing-packname" {{ if .Capturing }} disabled {{ end }}>
                                <option>Run All Packs</option>
                                {{ range $file := .AvailablePacks }}
                                    {{ if (eq $packName $file) }}
                                        <option selected="selected">{{ $file }}</option>
                                    {{ else }}
                                        <option>{{ $file }}</option>
                                    {{ end }}
                                {{ end }}
                            </select>
                            {{ if not .Capturing }}
                                <button id="validate" type="submit" class="btn btn-success d-inline-block align-top" name="button" value="validate">
                                    Validate Pack
                                </button>
                            {{ end }}
                        </div>
                        <div class="d-block">
                            {{ if not .Capturing }}
                                <button type="submit" class="btn btn-primary d-inline-block top-margin" name="button" value="update">
                                    Start Updating Pack
                                </button>
                                <button type="button" id="renameBtn" class="btn btn-primary d-inline-block top-margin" name="button" onclick="openRenameDialogue()">
                                    Rename Pack
                                </button>
                                <button type="button" id="delete" class="btn btn-danger d-inline-block top-margin" name="button" value="delete">
                                    Delete Pack
                                </button>
                                <button id="deleteSubmit" type="submit" name="button" value="delete" hidden></button>
                                <button id="renameSubmit" type="submit" name="button" value="rename" hidden></button>
                                <input id="rename" type="text" value="" name="rename" hidden>
                            {{ else if (eq .CaptureType "Updating") }}
                                <button type="submit" class="btn btn-primary d-inline-block top-margin" name="button" value="stopCapturing">
                                    Stop Updating Pack
                                </button>
                            {{ end }}
                        </div>
                    </div>
                    <hr>
                </div>
                <div>
                    <hr>
                    <h5 class="mb-3">Capture new packs</h5>
                    <input id="packname" class="form-control d-inline-block" style="width:15em;" type="text" name="new-packname" list="packs">
                    {{ if not .Capturing }}
                        <button type="submit" class="btn btn-primary d-inline-block align-top" name="button" value="startCapturing">
                            Start Capturing Pack
                        </button>
                    {{ else if (eq .CaptureType "Capturing") }}
                        <button type="submit" class="btn btn-primary d-inline-block align-top" name="button" value="stopCapturing">
                            Stop Capturing Pack
                        </button>
                    {{ end }}
                    <hr>
                </div>
                <p>{{ .DisplayMessage }}</p>
            </div>
        </form>
    </div>
    {{ if .DiffedMessages }}
        <table id="results" class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Test Number</th>
                <th scope="col">Result</th>
                <th scope="col">Date/Time</th>
                <th scope="col">TID</th>
                <th scope="col">STAN</th>
                <th scope="col">Transaction Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Duration</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
        </table>
        <div>
            <button id="exportCSV" class="btn btn-primary">Export as CSV</button>
        </div>
    {{ end }}

    <button type="button" class="collapsible" onclick="toggleTMVersionDetails()">Show TM Version Details</button>
    <div id="tm-versions" class="bordered position-relative">
        {{ if .TMServices }}
            <div style="overflow-x:auto;">
                <table class="table" id="tm-versions-table">
                    <thead>
                    <tr>
                        <td>Service Name</td>
                        <td>Version</td>
                        <td>Errors</td>
                    </tr>
                    </thead>
                    <tbody>
                        {{ range $tmServices := .TMServices }}
                            <tr>
                                <td>{{ $tmServices.Name }}</td>
                                <td>{{ if $tmServices.Version }} {{ $tmServices.Version }} {{ else }} Unknown {{ end }}</td>
                                <td>{{ if $tmServices.Errors }} {{ $tmServices.Errors }} {{ else }} No Reported Errors {{ end }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        {{ else }}
            <p>Unable to retrieve TM service details</p>
        {{ end }}
    </div>

    <div id="footer">
        <img src="../carva_assets/images/WonderLane.png" alt="WonderLane"><!-- Comment to remove spacing between
        inline-block elements. More info: https://css-tricks.com/fighting-the-space-between-inline-block-elements/
        --><div class="version-container">
            <p>CaRVa Version: {{ if .Version }} {{ .Version }} {{ else }} DEV BUILD {{ end }}</p>
        </div>
        <hr>
    </div>

    {{ template "confirmation" }}
    {{ template "renameDialogue" }}

    </body>
    </html>